name: sara-learning-gh-actions-empty-htmls

on: [push]

jobs:
  check-html:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/action_empty_html.yml